postgres-data/
rabbitmq-data/

.env
**/.env
!.env.example
!**/.env.example

__pycache__/
*.pyc
.DS_Storecookies.txt
.DS_Store
cookies.txt

app/uploads/*
!app/uploads/.gitkeep

# Model checkpoints
app/models/tiny_imagenet_resnet/*.pth
!app/models/tiny_imagenet_resnet/.gitkeep

# Model metadata
!app/models/tiny_imagenet_resnet/idx_to_label.json